/* Section 1 */

position: relative;
width: 1440px;
height: 100px;

background: #000000;
border-radius: 2px;


/* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 383px;

position: relative;
width: 1097px;
height: 53px;
left: 171px;
top: 24px;



/* Frame 2 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 159px;
height: 53px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* homepage */

width: 139px;
height: 33px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;
/* identical to box height */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 555px;
height: 33px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* About */

width: 185px;
height: 33px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;
/* identical to box height */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Projects */

width: 185px;
height: 33px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;
/* identical to box height */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Contact */

width: 185px;
height: 33px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;
/* identical to box height */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
